body {
   
    background-image: url(images/background-overlay.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.title {
    margin: 0;
    font-family: dancing script, cursive;
    font-size: 64px;
    color: white;
    font-weight: 500;
    padding: 50px 0 30px 0;
}

.form {
    position: relative;
    background-color: white;
    border-radius: 20px;
    max-width: 632px;
    width:96%;
    margin: auto;
    box-shadow: 0 0 30px black;
    padding-bottom: 15px;
    height: 317.600px;
}

.label {
    display: block;
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #707070;
    padding: 10px;
}

.form input {
    height: 40px;
    max-width: 552px;
    width: 90%;
    background-color: #fff;
    border: 0.5px solid #8a8a8a;
    border-radius: 5px;
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 5px;
    color: #707070;
}

.form input:focus {
    border-radius: 5px;
    box-shadow: 0 0 10px; #91774F;
    outline: none;
}

.form p {
    color: #FF6767;
    font-family: roboto, sans-serif;
    font-weight: 500px;
    margin: 0;
    font-size: 16px;
    padding: 10px;
}

.button {
    background-color: #B19569;
    border: none;
    color: #fff;
    width: 172px;
    height: 50px;
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 0 #91774F;
    cursor: pointer;    
}

.button:focus {
    outline: none;
}

.transparent {
    opacity: 0;
}

.invisible {
   opacity: 0;
}

.form .result {
    position: absolute;
    font-size: 100px;
    font-family: dancing script, cursive;
    top: 20%;
    left: 25%;
}

@media (max-width: 580px) {
    .title {
        padding-top: 120px;
        font-size: 48px;
    }

    .form .result {
        position: absolute;
        font-size: 70px;
        font-family: dancing script, cursive;
        top: 10%;
        left: 25%;
    }
}

@media (max-width: 770px) {
    .title {
        padding-top: 120px;
    }
}

